// shorthand for font-size / line-height / font-weight :option ;
@mixin heading-style {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    padding: 11px 70px;
    position: relative;
    display: block;
    width: fit-content;
    margin: 0 auto;

    &::before {
        position: absolute;
        content: '';
        border: 1px solid rgba(255, 255, 255, .2);
        background: rgba(255, 255, 255, .05);
        display: block;
        top: 0;
        right: 0;
        transform: skew(-30deg);
        width: 100%;
        height: 40px;
    }
}